
.Top {
  background-color: black;
  overflow: hidden;
}


a {
  color: white;
  text-decoration: none;
  float: left;
  padding: 25px;
  font-size: 25px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Profile {
  position: absolute;
  left: 50%;
}

.Settings {
  float: right;
}

a:hover{
  background-color: rgba(255, 255, 255, 0.911);
  color: black;
}