


.Top {
    background-color: rgb(0, 0, 0);
    margin: 0px 0px 50px 0px;
    overflow: hidden;
}

.But {
  float: left;
  text-align: center;
  color: white;
  padding: 20px;
  font-size: 25px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.But:hover {
    background-color: rgb(230, 230, 230);
    color: black;
}